.modal.fade#dossier_modal{tabIndex: "-1", role: "dialog", aria: {labelledby: "modal-label", hidden: "true"}}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => "true"} &times;
        %h4.modal-title#modal_label
          Fiche dossier
          %span.code
      .modal-body
        %p Chargement du dossier...
      .modal-footer
        = link_to "Imprimer", "#", target: "_BLANK", class: "btn btn-info print-dossier"
        = link_to "Modifier", "#", class: "btn btn-primary edit-dossier"
        %button.btn.btn-default{:"data-dismiss" => "modal", :"aria-hidden" => "true"} Fermer
