%table#dossiers.table.table-striped.table-condensed.table-bordered
  %thead
    %tr
      %th N° Appel
      %th Date Appel
      %th Patiente
      %th Motif
      %th Exposition
      %th Evolution
      %th Malf
      %th Path
      %th
  %tbody
    = render dossiers
