- if dossiers.any?
  %table.table.table-striped.table-condensed
    %thead
      %th N° Appel
      %th= sort_link @search, :date_appel, {}
      %th= sort_link @search, :name, {}
      %th= sort_link @search, :correspondant_id, {}
      %th Actions
    %tbody
      = render dossiers
- else
  Aucun dossier dans la base
