%table#dossiers.display{"data-source" => dossiers_url(format: "json")}
  %thead
    %th N° Appel
    %th Date Appel
    %th Patiente
    %th Motif
    %th Exposition
    %th Evolution
    %th Malf
    %th Path
    %th
  %tbody
