%table.fields_summary#expositions_summary
  %thead
    %tr
      %th#action
      %th#exposition Exposition
      %th#terme Terme
      %th#indication Indication
      %th Posologie
      %th De
      %th.to à
      %th Et de
      %th.to à
  %tbody

= f.simple_fields_for :expositions do |exposition|
  = render "exposition_fields", f: exposition

.links
  = link_to_add_association f, :expositions, class: "btn btn-primary btn-sm" do
    %i.glyphicon.glyphicon-plus
    Ajouter une exposition
