%div{class: "modal hide", style: "display: none;"}
  .modal-header
    = link_to "x", "#", class: "close"
    %h3 Arbre des Malformations
  .modal-body
    .malformations_tree
  .modal-footer
    .malformations_container
    = link_to "Rajouter ces malformations", "#", class: "btn primary"
