%div.modal.hide#malformation
  .modal-header
    %a.close{"data-dismiss" => "modal"} x
    %h3 Arbre des Malformations
  .modal-body
    .malformations_tree
  .modal-footer
    Malformations Sélectionnées :
    .malformations_container
    = link_to "#", class: "btn btn-primary add_malformations" do
      %i.icon-plus.icon-white
      Rajouter ces malformations
