
<!DOCTYPE html>

<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= t('sessions.password_resets.mail_hello') + @user.username %></h1>
    <p><%= t('sessions.password_resets.mail_header') %></p>
    <p><%= link_to t('sessions.password_resets.mail_link'), @url %></p>
    <p><%= t('sessions.password_resets.mail_footer') %></p>
  </body>
</html>
