- title "Administration Produits"

.well.well-lg
  = form_tag admin_produits_path, remote: true, method: :get, class: "form-inline", role: "search" do
    = link_to new_admin_produit_path, class: "btn btn-success btn-lg" do
      %span.glyphicon.glyphicon-plus
      Création d'un nouveau produit
    .form-group
      = label_tag "produit_id", "", class: "sr-only"
      = hidden_field_tag "produit_id", "", placeholder: "nom du produit", class: "form-control input-lg"
    %button.btn.btn-info.btn-lg{type: "submit"}
      %span.glyphicon.glyphicon-info-sign
      Voir/Modifier

.panel.panel-default.chosen-produit
