%div.modal.hide#pathologie
  .modal-header
    %a.close{"data-dismiss" => "modal"} x
    %h3 Arbre des Pathologies
  .modal-body
    .pathologies_tree
  .modal-footer
    Pathologies Sélectionnées :
    .pathologies_container
    = link_to "#", class: "btn btn-primary add_pathologies" do
      %i.icon-plus.icon-white
      Rajouter ces pathologies
