.modal.fade#pathology{tabIndex: '-1', role: 'dialog', 'aria-labelledby': 'pathology-label', 'aria-hidden': 'true'}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{type: 'button', 'data-dismiss': 'modal', 'aria-hidden': 'true'} &times;
        %h4.modal-title#pathology-label Arbre des Pathologies
      .modal-body
        .pathologies_tree
      .modal-footer
        Pathologies Sélectionnées :
        .pathologies_container
        = link_to '#', class: 'btn btn-primary add_pathologies' do
          = fa_icon 'plus'
          Rajouter ces pathologies
