- title "Nouveau libéllé pour la table #{@name}"

= simple_form_for @klass.new, url: url_for(action: 'new'), html: {class: "form-inline", role: "form"} do |f|
  = f.input :name, label_html: {class: "sr-only"}, label: "Libéllé"
  = f.button :submit, "Enregistrer", class: "btn btn-primary"
