/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require skeleton_files
 *= require formtastic
 *= require_self
 *= require jquery_ui
 *= require_tree .
*/

.container {
  margin-top: 50px;
}

/* Header */
.topbar-wrapper {
  z-index: 5;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
}

.topbar {
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  overflow: visible;
}

.topbar h2 {
  position: relative;
  margin: 0;
}

.topbar h2 a {
  float: left;
  display: block;
  padding: 8px 20px 12px;
  margin-left: -20px;
  color: white;
  font-size: 20px;
  font-weight: 200;
  line-height: 1;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
}

.topbar a {
  color: #BFBFBF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

.topbar-inner, .topbar .fill {
  background-color: #222;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#333333), to(#222222));
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#333333, endColorstr=#222222, GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.container-fluid {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  zoom: 1;
}

.container-fluid::after {
  clear: both;
}

.container-fluid::before, .container-fluid::after {
  display: table;
  content: "";
  zoom: 1;
}

.topbar div > ul.secondary-nav, .nav.secondary-nav {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}

.topbar div > ul, .nav {
  display: block;
  float: left;
  margin: 0 10px 0 0;
  position: relative;
  left: 0;
}

.topbar div > ul > li, .nav > li {
  display: block;
  float: left;
  margin: 0;
}

li {
  line-height: 18px;
  color: gray;
}

.topbar div > ul a, .nav a {
  display: block;
  float: none;
  padding: 10px 10px 11px;
  line-height: 19px;
  text-decoration: none;
}

.topbar a {
  color: #BFBFBF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.topbar div > ul a:hover, .nav a:hover {
  color: white;
  text-decoration: none;
}

.topbar div > ul .active > a, .nav .active > a {
  background-color: #222;
  background-color: rgba(0, 0, 0, 0.5);
}

.topbar div > ul a.menu:hover, .topbar div > ul li.open .menu, .topbar div > ul .dropdown-toggle:hover, .topbar div > ul .dropdown.open .dropdown-toggle, .nav a.menu:hover, .nav li.open .menu, .nav .dropdown-toggle:hover, .nav .dropdown.open .dropdown-toggle {
  background: #444;
  background: rgba(255, 255, 255, 0.05);
}

.topbar h2 a:hover, .topbar .brand a:hover, .topbar ul .active > a {
  background-color: #333;
  background-color: rgba(255, 255, 255, 0.05);
  color: white;
  text-decoration: none;
}

nav.action_links {
  float: left;
}

nav.action_links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav.action_links li {
  padding: 0;
  display: inline;
  font-weight: bold;
}
