body.dossiers
  .block-message
    margin: 9px 0

  h3#page_title
    float: left

  table.pretty
    width: 100%
    -webkit-border-radius: 4px
    -moz-border-radius: 4px
    border-radius: 4px

  table.fields_summary
    th
      font-weight: bold
      background-color: #000
      color: #fff
      text-align: left
      a, a:visited
        color: #fff
        text-decoration: none
        &:hover
          color: inherit
          text-decoration: underline

    th, td
      vertical-align: middle
      padding: 0

    tr
      &:nth-of-type(even)
        background-color: #eee

      &:nth-of-type(odd)
        background-color: #fff

  table.fields_summary
    width: 100%
    font-size: 12px
    border-bottom: 1px solid black
    margin-bottom: 0
    tr
      height: 40px
    td, th
      text-align: center
      &:first-child
        width: 54px
      a
        margin: 5px
  .tab-content
    min-height: 400px
    margin-bottom: 10px

  form
    input, select
      margin-right: 5px
    .control-group
      margin-bottom: 5px
      & > label
        width: 160px
    .controls
      margin-left: 165px
    .no-label
      .controls
        margin-left: 0
    label
      font-weight: bold
      &.error
        margin-left: 1em
        display: inline-block
        color: #B94A48
        max-width: 180px
        &:after
          content: ""

    .links, .expo_links
      margin-top: 5px

    .field_links
      float: right
      border: 0

    .nested-fields
      padding-top: 0.5em
      overflow: auto

    .ui-tabs .ui-tabs-panel
      padding: 5px

    .malformation_tokens, .pathologie_tokens
      display: none

  label
    &:after
      content: " :"

    &.radio:after
      content: ""

  .radio-wrap, .textarea-wrap
    float: left

  .textarea-wrap
    margin-left: 10px

  .inline-inputs .controls label
    display: inline-block

  a.create, a.update
    margin-left: 5px

  #antecedents
    h4
      margin-bottom: 5px
      border-bottom: 1px solid black

  #grossesses_anterieures
    margin-left: 160px
    th
      vertical-align: middle
      &:after
        content: " : "

  #dates_grossesse
    margin-bottom: 5px
    th
      vertical-align: middle
      text-align: right
      &:after
        content: " : "
    td#calc_column
      text-align: right

  .calc_error, .message
    font-weight: bold
    color: #B94A48
