// Place all the styles related to the Dossiers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dossiers {
  .block-message {
    margin: 9px 0;
  }
  h3#page_title {
     float: left;
  }

  table.pretty {
    width: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }

  table.fields_summary {
    th {
      font-weight: bold;
      background-color: #000;
      color: #fff;
      text-align: left;
      a, a:visited {
        color: #fff;
        text-decoration: none;
        &:hover {
          color: inherit;
          text-decoration: underline;
        }
      }
    }
    th, td {
      vertical-align: middle;
      padding: 0;
    }
    tr {
      &:nth-of-type(even) {
        background-color: #eee;
      }
      &:nth-of-type(odd) {
        background-color: #fff;
      }
    }
  }

  table.fields_summary {
    width: 100%;
    font-size: 12px;
    border-bottom: 1px solid black;
    margin-bottom: 0;
    tr {
      height: 40px;
    }
    td, th {
      text-align: center;
      &:first-child {
        width: 54px;
      }
      a {
        margin: 5px;
      }
    }
  }

  table.grsant, table.grossesse_dates {
    width: 35%;
    float: left;
    td, th {
      padding: 4px;
      border-top: 0;
    }
    th {
      text-align: right;
      vertical-align: middle;
    }
  }
  table.grossesse_dates {
    width: 60%;
    float: right;
    th {
      text-align: right;
      vertical-align: middle;
    }
  }
  table.grsant:after, table.grossesse_dates:after {
    clear: both;
  }

  #tabs {
    min-height: 400px
  }

  form {
    label.error {
      margin-left: 1em;
      float: none;
      color: #B94A48;
    }
    input.btn {
      padding: 5px 14px 6px;
    }
    .links, .expo_links {
      margin-top: 5px;
    }
    .field_links {
      border: 0;
    }
    .nested-fields {
      padding-top: 0.5em;
    }
    .ui-tabs .ui-tabs-panel {
      padding: 5px;
    }
    .malformation_tokens, .pathologie_tokens {
      display: none;
    }
  }
}
