// Place all the styles related to the Dossiers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dossiers {
  h3#page_title {
     float: left;
  }

  table.pretty {
    width: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }

  th {
    font-weight: bold;
    background-color: #000;
    color: #fff;
    text-align: left;
    a, a:visited {
      color: #fff;
      text-decoration: none;
      &:hover {
        color: inherit;
        text-decoration: underline;
      }
    }
  }

  th, td {
    vertical-align: middle;
    padding: 10px;
    &:last-child {
      text-align: center;
      width: 56px;
    }
  }

  td {
    &:last-child {
      margin: auto;
    }
  }
  tr {
    &:nth-of-type(even) {
      background-color: #eee;
    }
    &:nth-of-type(odd) {
      background-color: #fff;
    }
  }
}

table#expositions_summary {
  width: 100%;
  font-size: 12px;
  border-bottom: 1px solid black;
  margin-bottom: 0;
  td, th {
    text-align: center;
    &:first-child {
      width: 54px;
    }
    a {
      margin: 5px;
    }
  }
}

.dossiers #tabs {
  min-height: 400px
}

.formtastic {
  input.btn {
    padding: 5px 14px 6px;
  }
  .links, .expo_links {
    margin-top: 5px;
  }
  .expo_links {
    border: 0;
    float: right;
  }
  .clearfix {
    margin-bottom: 5px;
  }
  .inline-inputs {
    margin-bottom: 5px;
    label {
      margin-right: 20px;
    }
  }
  #expositions {
    fieldset {
      padding-top: 0.5em;
    }
  }
  .ui-tabs .ui-tabs-panel {
    padding: 5px;
  }
}
