body.dossiers

  hr
    border-top-color:	#BBB
    border-right-color:	#111
    border-bottom-color:	#EEE
    border-left-color:	#111

  .block-message
    margin: 9px 0

  table.fields_summary
    th
      font-weight: bold
      background-color: #000
      color: #fff
      text-align: left
      a, a:visited
        color: #fff
        text-decoration: none
        &:hover
          color: inherit
          text-decoration: underline

    th, td
      vertical-align: middle
      padding: 0

    tr
      &:nth-of-type(even)
        background-color: #eee

      &:nth-of-type(odd)
        background-color: #fff

  table.fields_summary
    width: 100%
    font-size: 12px
    border-bottom: 1px solid black
    margin-bottom: 0
    tr
      height: 40px
    td, th
      text-align: center
      &:first-child
        width: 54px
      a
        margin: 5px
  .tab-content
    min-height: 400px
    margin-bottom: 10px

  form
    input, select
      margin-right: 5px
    .input-append
      input, select
        margin-right: 0
      .add-on, .btn
        margin-left: -5px
        margin-bottom: 0
    .control-group
      margin-bottom: 5px
      & > label
        width: 170px
    .controls
      margin-left: 175px
    .no-label
      .controls
        margin-left: 0
    label
      font-weight: bold
      &:after
        content: " : "
      &.error
        margin-left: 1em
        display: inline-block
        color: #B94A48
        max-width: 180px
        vertical-align: top
        &:after
          content: ""

    .links, .expo_links
      margin-top: 5px

    .field_links
      float: right
      border: 0

    .nested-fields
      padding-top: 0.5em
      overflow: auto

    .ui-tabs .ui-tabs-panel
      padding: 5px

    .malformation_tokens, .pathologie_tokens
      display: none

  .radio-wrap, .textarea-wrap
    float: left

  .textarea-wrap
    margin-left: 10px

  .inline-inputs
    margin-bottom: 5px
    display: table
    .control-group
      display: table-cell
    .controls > label
      display: inline-block
    & > label
      width: 170px
      float: left
      padding-top: 5px
      text-align: right

  a.create, a.update
  a.create, a.update
    margin-left: 5px

  #antecedents
    h4
      margin-bottom: 5px
      border-bottom: 1px solid black

  #grossesses_anterieures
    margin-left: 160px
    th
      vertical-align: middle
      &:after
        content: " : "

  #dates_grossesse
    margin-bottom: 5px
    th
      vertical-align: middle
      text-align: right
      &:after
        content: " : "
    td#calc_column
      text-align: right

  .calc_error, .message
    font-weight: bold
    color: #B94A48
