//

.dossiers
  .buttons
    padding-top: 1em
    padding-left: 198px
  input[type="submit"], a.button
    padding: 0 1em
    font-weight: bold
  a.button
    font-size: 14px
    font-family: sans-serif
    text-decoration: none
  #tabs
    min-height: 400px
