body
  padding-top: 50px
  background-color: #eee

// typeahead for tbs3
.twitter-typeahed
  width: 100%
  position: relative

.twitter-typeahead .tt-query, .twitter-typeahead .tt-hint
  margin-bottom: 0
  width: 100%
  height: 34px
  position: absolute
  top: 0
  left: 0

.tt-hint
  color: #a1a1a1
  z-index: 1
  padding: 6px 12px
  border: 1px solid transparent

.tt-query
  z-index: 2
  border-radius: 4px !important

.tt-dropdown-menu
  min-width: 160px
  margin-top: 2px
  padding: 5px 0
  background-color: #fff
  border: 1px solid #ccc
  border: 1px solid rgba(0,0,0,.2)
  *border-right-width: 2px
  *border-bottom-width: 2px
  border-radius: 6px
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2)
  box-shadow: 0 5px 10px rgba(0,0,0,.2)
  background-clip: padding-box

.tt-suggestion
  display: block
  padding: 3px 20px

.tt-suggestion.tt-is-under-cursor
  color: #fff
  background-color: #0081c2

.tt-suggestion.tt-is-under-cursor a
  color: #fff

.tt-suggestion p
  margin: 0

table#dossiers
  td
    vertical-align: middle

/* wrappers */

#page_wrap
  background: white

#page_header
  margin-bottom: 5px

#page_footer
  margin: 10px 0

.none
  color: #999

.control-group.hidden
  margin: 0

.form-actions
  button, a
    margin-right: 5px

#dossiers_wrapper
  label, input, select
    margin-bottom: 0

.input-append .add-on:last-child, .input-append .btn:last-child
  +border-radius(0 3px 3px 0)

.select2-results .select2-highlighted
  background: none repeat scroll 0 0 $linkColor

.select2-container-multi .select2-choices
  +border-radius(3px)
  border-color: #CCCCCC
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset
  background-image: none
