@import "bootstrap"; /* Use this to get all of Bootstrap's @mixins and $variables */

body {
  padding-top: 40px !important;
  background-color: #eee !important;
}

/* Header */
ul.right {
  float: right !important;
}

.content {
  padding: 20px !important;
  background-color: whiteSmoke;
}


/* Page Header */
.page-header {
  overflow: hidden;
  padding: 10px 20px 5px;
  margin: -20px -20px 0;
}

nav.action_links {
  display: inline-block;
}

nav.action_links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav.action_links li {
  padding: 0;
  display: inline;
  font-weight: bold;
}

.clear {
  clear: both;
}

// remove this when using bootstrap-sass 2.0
.controls p.help-block {
  margin-left: 20px;
  float: left;
}
.form-horizontal label {
  width: auto;
  padding-top: 0;
}
.form-horizontal legend + .control-group {
  margin-top: 18px;
  -webkit-margin-top-collapse: separate;
}
.form-horizontal .control-group {
  margin-bottom: 10px;
  *zoom: 1;
}
.form-horizontal .control-group:before, .form-horizontal .control-group:after {
  display: table;
  content: "";
}
.form-horizontal .control-group:after {
  clear: both;
}
.form-horizontal .control-group > label {
  float: left;
  width: 140px;
  padding-top: 5px;
  text-align: right;
}
.form-horizontal .control-group > label.radio_buttons {
  padding-top: 0;
}
.form-horizontal .controls {
  margin-left: 160px;
}
.form-horizontal .form-actions {
  padding-left: 160px;
}
.radio, .checkbox {
  padding-left: 18px;
}
.radio input[type="radio"], .checkbox input[type="checkbox"] {
  float: left;
  margin-left: -18px;
}
.controls > .radio:first-child, .controls > .checkbox:first-child {
  padding-top: 5px;
}
.radio.inline, .checkbox.inline {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}
.radio.inline + .radio.inline, .checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}
.controls > .radio.inline:first-child, .controls > .checkbox.inline:first-child {
  padding-top: 0;
}
input[type="image"], input[type="checkbox"], input[type="radio"] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  *margin-top: 0;
  /* IE7 */

  line-height: normal;
  border: 0;
  cursor: pointer;
  border-radius: 0 0;
}
