fieldset.fields
  border: 1px groove #ddd
  padding: 0 1.4em 1.4em 1.4em
  margin: 0 0 1.5em 0
  -webkit-box-shadow: 0
  box-shadow: 0
  legend
    width: inherit
    padding: 0 10px
    border-bottom: none
    font-size: 1.2em
    font-weight: bold
    text-align: left

body.searches
  .well
    margin-bottom: 0
  .row .actions
    margin: 0
    border: 0
    padding: 0
    .btn
      width: 100%
  .search-params
    ul
      list-style: none
      padding: 0
      padding-left: 0.5em
      margin: 0
    .libelle
      font-weight: bold
      &:after
        content: " : "
