body.searches
  .row .actions
    margin: 0
    border: 0
    padding: 0
  .search-params
    ul
      list-style: none
      padding: 0
      padding-left: 0.5em
      margin: 0
    .libelle
      font-weight: bold
      &:after
        content: " : "
