%form
  %input#dossier_poids{:type => "text"}/
  %input#dossier_taille{:type => "text"}/
  %input#dossier_imc{:type => "text"}/
  %input#dossier_date_appel{:type => "text"}/
  %input#dossier_age_grossesse{:type => "text"}/
  %input#dossier_date_dernieres_regles{:type => "text"}/
  %input#dossier_date_debut_grossesse{:type => "text"}/
  %input#dossier_date_accouchement_prevu{:type => "text"}/
  #grossesse_date_messages
  #expositions
    %table#expositions_summary.fields_summary
      %thead
        %tr
          %th#action
          %th#exposition Exposition
          %th#terme Terme
          %th#indication Indication
          %th Posologie
          %th De
          %th.to à
          %th Et de
          %th.to à
      %tbody
    .nested-fields
      .control-group
        .controls
          %input#dossier_expositions_attributes_0_produit_name{type: "text", name: "dossier[expositions_attributes][0][produit_name]"}
      .control-group
        .controls
          %input#dossier_expositions_attributes_0_indication{type: "text", name: "dossier[expositions_attributes][0][indication]"}
      .field_links
        %a.validate_expo{href: "#"}
        %input#dossier_expositions_attributes_0__destroy{type:"hidden", name: "dossier[expositions_attributes][0][_destroy]"}
    .links
      %a.add_fields{data: {associations: "expositions"}, href: "#"}

.modal.hide#exposition_destroy{style: "display: none;"}
  .modal-header
    %button{type: "button", class: "close", "data-dismiss" => "modal"} x
    %h3 Destruction 
  .modal-body
    %p Etes-vous sûr ?
  .modal-footer
    = link_to "Annuler", "#", class: "btn", "data-dismiss" => "modal"
    = link_to "Détruire", "#", class: "btn btn-danger", id: "confirm-destruction"
