%form
  %input{type: "text", id: "dossier_poids"}
  %input{type: "text", id: "dossier_taille"}
  %input{type: "text", id: "dossier_imc"}
  %input{type: "text", id: "dossier_date_appel"}
  %input{type: "text", id: "dossier_age_grossesse"}
  %input{type: "text", id: "dossier_date_dernieres_regles"}
  %input{type: "text", id: "dossier_date_debut_grossesse"}
  %input{type: "text", id: "dossier_date_accouchement_prevu"}
  #grossesse_date_messages
