%form
  #expositions
    %table#expositions_summary.fields_summary
      %thead
        %tr
          %th#action
          %th#exposition Exposition
          %th#terme Terme
          %th#indication Indication
          %th Posologie
          %th De
          %th.to à
          %th Et de
          %th.to à
      %tbody
    .nested-fields
      .control-group
        .controls
          %input#dossier_expositions_attributes_0_produit_id{type: "text", name: "dossier[expositions_attributes][0][produit_name]", data: {load: '{"id":1, "text":"ACICLOVIR"}'}}
      .control-group
        .controls
          %input#dossier_expositions_attributes_0_indication_id{type: "text", name: "dossier[expositions_attributes][0][indication]", data: {load: '{"id":1, "text":"HERPES"}'}}
      .field_links
        %a.validate_expo{href: "#"}
        %input#dossier_expositions_attributes_0__destroy{type:"hidden", name: "dossier[expositions_attributes][0][_destroy]"}
    .links
      %a.add_fields{data: {associations: "expositions"}, href: "#", style: "display: inline-block;"}
