= form_tag @dossier_for_search, method: :get, class: "navbar-form navbar-left", role: "search" do
  .form-group
    = text_field_tag "codedossier", '',
      autocomplete: "off",
      placeholder: "N° Dossier",
      class: "form-control search-query"
  %button.btn.btn-default{type: "submit"}
    %span.glyphicon.glyphicon-search
    Recherche
