= form_tag @dossier_for_search, method: :get do
  = autocomplete_field_tag "dossier_code", '', home_autocomplete_dossier_code_path,
    required: true,
    placeholder: "Rechercher ou saisir un dossier",
    pattern: "[A-Z]{2}[0-9]{7}"
  = hidden_field_tag params[:dossier_code]
