= form_tag @dossier_for_search, method: :get do
  = autocomplete_field_tag "codedossier", '', home_autocomplete_dossier_code_path,
    required: true,
    placeholder: "Recherche ou saisie",
    class: "span3"
  = hidden_field_tag params[:codedossier]
  = submit_tag "OK", class: "btn primary"
