= form_tag @dossier_for_search, method: :get, class: "navbar-search pull-left" do
  = autocomplete_field_tag "codedossier", '', home_autocomplete_dossier_code_path,
    required: true,
    placeholder: "N° Appel",
    class: "span2 search-query"
  = hidden_field_tag params[:codedossier]
  = submit_tag "OK", class: "btn btn-primary", style: "position: absolute; left: -9999px; width: 1px; height: 1px;"
