= form_tag @dossier_for_search, method: :get, class: "navbar-form", role: "search" do
  .form-group
    %label.sr-only{for: "codedossier"} N° d'appel
    .input-group
      = text_field_tag "codedossier", '',
        autocomplete: "off",
        placeholder: "N° d'appel",
        class: "form-control search-query"
      .input-group-btn
        %button.btn.btn-primary{type: "submit"} OK
