= form_tag @dossier_for_search, method: :get, class: "topbar-search" do
  = text_field_tag "codedossier", '',
    autocomplete: "off",
    placeholder: "N° Dossier",
    class: "input-small search-query"
  %span.search-icon
    %i.icon-search
