%ul.nav.pull-right
  %li.divider-vertical
  %li.dropdown
    %a.dropdown-toggle{href: "#", data: {toggle: "dropdown"}}
      Bonjour, #{current_user.username}
      %span.glyphicon.glyphicon-user
      %b.caret
    %ul.dropdown-menu
      %li
        = link_to edit_user_registration_path do
          %span.glyphicon.glyphicon-pencil
          Modifier compte
      %li
        = link_to logout_path do
          %span.glyphicon.glyphicon-off
          Déconnexion
