%ul.nav.pull-right
  %li.divider-vertical
  %li.dropdown
    %a.dropdown-toggle{href: "#", data: {toggle: "dropdown"}}
      %i.icon-user.icon-white
      %b.caret
    %ul.dropdown-menu
      %li
        %span.navbar-user= current_user.username
      %li
        = link_to edit_user_registration_path do
          %i.icon-pencil
          Modifier compte
      %li
        = link_to logout_path do
          %i.icon-off
          Déconnexion
